# idea project file
.idea
project-skelton-sinatra.iml

# bundle
vendor
Gemfile.lock

# bower
bower_components

# npm
node_modules

# db
db/*.db

# public javascript & stylesheet
public/css/lib/*.css
public/css/*.css
public/js/lib/*.js
public/js/*.js

# .DS_STORE
.DS_Store
